**Entregable 3, Pandas**

In [11]:
# importar las librerias
import pandas as pd
import numpy as np

In [3]:
#importo el dataset
JuegosOlimpicos = pd.read_csv("C:/Users/Romi Ott/CoderHouse Ejercicios/Summer-Olympic-medals-1976-to-2008.csv", encoding = "Latin-1")
JuegosOlimpicos

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

1) construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos

In [169]:
#primero, genero el indice por año
fechasOlimp = JuegosOlimpicos["Year"]
indice=fechasOlimp

#luego, elimino la columna de año del dataframe 
JuegosSinAnio = JuegosOlimpicos.drop(["Year"], axis=1, inplace=False)
columnas = JuegosSinAnio.columns[:]

#finalmente, genero el nuevo dataframe con el indice por año
JuegosPorAnio = pd.DataFrame(JuegosSinAnio.values,index=indice,columns=columnas)
JuegosPorAnio

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,
1976.0,Montreal,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1976.0,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976.0,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976.0,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976.0,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
2008.0,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
2008.0,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
2008.0,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

2) Separar nombres de apellidos en dos columnas distintas usando la coma como separador

In [149]:
#primero, separo los nombres y apellidos
JuegosOlimpicos[["AthleteName","AthleteSurName"]] = JuegosOlimpicos["Athlete"].str.split(",", n=1, expand=True)

#luego, los integro a los datos
JuegosOlimpicos.drop(["Athlete"], axis=1, inplace=True)
JuegosOlimpicos

,City,Year,Sport,Discipline,Event,Gender,Country_Code,Country,Event_gender,Medal,AthleteName,AthleteSurName
0,Montreal,1976.0,Aquatics,Diving,3m springboard,Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1,Montreal,1976.0,Aquatics,Diving,3m springboard,Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
2,Montreal,1976.0,Aquatics,Diving,3m springboard,Men,USA,United States,M,Gold,BOGGS,Philip George
3,Montreal,1976.0,Aquatics,Diving,3m springboard,Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
4,Montreal,1976.0,Aquatics,Diving,10m platform,Women,USA,United States,W,Bronze,WILSON,Deborah Keplar
...,...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,Men,FRA,France,M,Bronze,GUENOT,Christophe
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,Men,GEO,Georgia,M,Gold,KVIRKELIA,Manuchar
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,Men,AZE,Azerbaijan,M,Silver,RAHIMOV,Vitaliy
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,Men,FRA,France,M,Gold,GUENOT,Steeve
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,Men,CUB,Cuba,M,Gold,LOPEZ,Mijain

3) Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?

In [241]:
#genero la base de datos con agrupacion de la informacion de mi interes
MF = JuegosOlimpicos.groupby(["Country", "Medal"]).count()
MF

#ordeno los datos de mayor a menor y selecciono un criterio de visualizacion
MFOrdenados = MF.sort_values(by=["Sport"], ascending=False)
MFOrdenados[["Sport"]].head(10)

#RTA: Estados Unidos gano mas medallas en todas las categorias
    #en segundo lugar, la (ex)Union Sovietica con mas medallas de oro ganadas
    #seguidos de Australia, con la mayor cantidad de medallas de bronce

                      Sport
Country       Medal
United States Gold      928
              Silver    583
              Bronze    481
Soviet Union  Gold      439
Australia     Bronze    312
Soviet Union  Bronze    297
East Germany  Gold      286
Soviet Union  Silver    285
Germany       Bronze    278
Australia     Silver    270

4) Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

In [10]:
#primero, filtro por el genero, dejando solo los hombres
JHH = JuegosOlimpicos.loc[JuegosOlimpicos.Gender == "Men"] 

#luego, usando ese filtrado, armo la tabla con el conteo pertinente, diferenciando por año y por medalla
MH = JHH.groupby(["Year","Medal"]).count()

#finalmente muestro solo una columna de conteo (las demas dan lo mismo)
MH[["Sport"]]

               Sport
Year   Medal
1976.0 Bronze    321
       Gold      302
       Silver    301
1980.0 Bronze    328
       Gold      317
       Silver    313
1984.0 Bronze    338
       Gold      320
       Silver    315
1988.0 Bronze    352
       Gold      334
       Silver    325
1992.0 Bronze    391
       Gold      358
       Silver    356
1996.0 Bronze    374
       Gold      356
       Silver    352
2000.0 Bronze    386
       Gold      370
       Silver    370
2004.0 Bronze    376
       Gold      361
       Silver    362
2008.0 Bronze    391
       Gold      362
       Silver    357